@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;800&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* 눈누 Web Font */
@font-face {
	font-family: 'GmarketSansLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 눈누 Web Font */
@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 
! TODO:Logo-Color 로고컬러 
#729a4c---green
#C3B449---yellowgreen
#F9C646---yellow 
*/

/* 주석 포인트 컬러 */
/* ! Main Markup */
/* * Sub Markup */
/* ? Common Markup */
/* TODO:메모장 */

html {}
body {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 0;
	line-height: 1.5em;
	color: #222;
}

/* ? Reset CSS */
* {margin: 0; padding: 0;	box-sizing: border-box;}
a {text-decoration: none; color: #222;}
ul {margin: 0; padding: 0; list-style: none;}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	margin: 0;
}
button {cursor: pointer;}
button,
input,
textarea,
select {
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
}

/* ? Common */
section {padding: 150px 0}
.inner {width: 1200px; margin: auto;
	/*중앙 정렬,위치값인 공통요소외에 다른 요소는 주지말자! --inner를 준 모든 영역에 영향을 주기 때문에  */
}
.container {margin: auto;}

/* * Animation */
.fade-in-up {opacity:1; animation: fade-in-up-ani 1s ease;}
@keyframes fade-in-up-ani{
	0% {
		opacity:0;
		transform:translateY(100px);
		-webkit-transform:translateY(50px);
	} 
	100% {
		opacity:1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
}
@-webkit-keyframes fade-in-up-ani{
	0% {
		opacity:0;
		transform:translateY(50px); 
		-webkit-transform:translateY(50px); 
	} 
	100% {
		opacity:1;
		transform:translateY(0px); 
		-webkit-transform:translateY(0px); 
	}
}

.items:nth-child(1).fade-in-up {animation: delay1 2s ease; }
.items:nth-child(2).fade-in-up {animation: delay2 2s ease; }
.items:nth-child(3).fade-in-up {animation: delay3 2s ease; }
@keyframes delay1 {
	0% {transform: translateY(20px);}
	100% {transform: translateY(0);}
}
@keyframes delay2 {
	0% {transform: translateY(50px);}
	100% {transform: translateY(0);}
}
@keyframes delay3 {
	0% {transform: translateY(80px);}
	100% {transform: translateY(0);}
}

.instagram-items:nth-child(1).fade-in-up {animation: delay4 2s ease; }
.instagram-items:nth-child(2).fade-in-up {animation: delay5 2s ease; }
.instagram-items:nth-child(3).fade-in-up {animation: delay6 2s ease; }
@keyframes delay4 {
	0% {transform: translateY(20px);}
	100% {transform: translateY(0);}
}
@keyframes delay5 {
	0% {transform: translateY(50px);}
	100% {transform: translateY(0);}
}
@keyframes delay6 {
	0% {transform: translateY(80px);}
	100% {transform: translateY(0);}
}

/* *Hover Effcet */
.instagram-items h3 .fa-heart:hover {color: rgba(220, 20, 60, 0.808);}
.photo-image img:hover {transform: scale(1.1);}
.photo-sns a:hover {background-color: #ccc;}

/* ! Header */
header {z-index: 999; position: fixed; width: 100%; display: flex; transition: 0.5s;}

/* *Scroll Effcet */
header.active {background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
header.active h1,
header.active .gnb a {
	filter: invert(85%);
}
header.active .lnb li a {color: #222;}
header.active .sub-menu li a {color: #fff;}
header.active .sub-menu li a:hover {color: #ccc;}
.header.active {background: #fefefe;}

/* *nav */
nav {width: 1280px; display: flex; justify-content: space-between; align-items: center; padding: 30px 20px; margin: auto;}
nav h1 {flex: 2;}

.lnb {display: flex; margin-right: 70px;}
.lnb>li {position: relative; margin-right: 50px;}
.lnb>li:last-child {margin-right: 0;}
.lnb>li>a {padding: 35px 0px; color: #fff; text-transform: uppercase;}

.gnb a {display: inline-block; margin-right: 10px; width: 20px;}
.gnb a:last-child {margin-right: 0;}
.gnb a img {width: 100%;}

/* *Sub-menu */
.sub-menu {overflow: hidden; position: absolute; top: 69px; height: 0px; transition: 0.5s;}
.sub-menu li {width: 100px; line-height: 1.8em;}
.sub-menu li a {padding: 10px 0; font-size: 14px;	color: #fff;}
.sub-menu li a:hover {color: rgb(224, 224, 224);}

/* *Trigger */
.trigger {display: none;}

/* *Menu 배경보이게 */
.menu-bg {z-index: -1; position: absolute; top: 115px; width: 100%; height: 0px; background-color: rgba(0, 0, 0, 0.7);	transition: 0.5s;}

/* *jQuery Hover Effect */
/* active 클래스명을 가지면 sub-menu 보이게 */
.lnb>li.active .sub-menu {height: 130px;}

/* 메뉴 배경색 보이게 */
.menu-bg.active {height: 130px;}

/* .sub-menu {overflow: auto; border:1px solid #000; height:100px;}
.menu-bg {border:1px solid #000; height:100px;} */

/* ! Main */
.main-banner-slider div {outline: none;}
.main-banner-slider div img {display: block; width: 100%;}
.main-logo-mobile {display: none;}


/* ! About Section Section02 */
.about-heading {text-align: center; padding: 0 0 30px;}
.about-heading h2 {margin: auto; width: 100px;}
.about-heading h2 img {width: 100%;}
.about-heading h3 {display: block; margin-top: 50px; font-family: 'Montserrat', sans-serif; font-style: normal; font-size: 46px; font-weight: 500; color: #517034;}

/* *logo-color  */
.about-heading h3 b {font-size: 52px; letter-spacing: -10px;}
.about-heading h3 b:nth-child(1) {color: #729a4c;}
.about-heading h3 b:nth-child(2) {color: #C3B449;}
.about-heading h3 b:nth-child(3) {margin-right: 8px; color: #F9C646;}
.about-heading p {margin-top: 35px; line-height: 1.7em; font-size: 18px;}
.about-heading p span {font-weight: 400;}

/* ! Product-bg Section03  */
.product-bg {height: 100vh; background: url(../images/section03_img.jpg)no-repeat center center; background-size: cover; background-attachment: fixed;}

/* ! Product-buy Section04 */
.product-buy {display: flex; justify-content: center; align-items: center; background: url(../images/section04_bg.png)no-repeat center; background-size: contain; background-position-x: 50%;}
.product-buy-inner {position: relative; display: flex; justify-content: space-between; align-items: center; padding: 0 20px; height: 100%; margin: auto;}

/* *이미지 buy-photo */
.buy-photo {flex: 2;}
.buy-photo img {width: 100%;}

/* *텍스트 buy-heading */
.buy-heading {flex: 1; padding-left: 20px;}
.buy-heading h3 {font-weight: 500; font-size: 32px; line-height: 1.3em; color: #5a6450;}
.buy-heading h3 span {font-weight: 300;}

/* *구매하기 btn */
.buy-heading a {display: inline-block; padding: 5px 20px; margin-top: 50px; margin-left: 5px; letter-spacing: 3px; background-color: #729a4c; color: #fff;}
.buy-heading a:after {content: "\f0da"; font-family: 'fontawesome'; margin-left: 10px; color: #fff;}
.buy-heading a:hover {background-color: #222;}

/* ! Brand-direct Section05 */
.brand-direct {position: relative; display: flex; justify-content: center; align-items: center; background: url(../images/section05_bg.png)no-repeat center center; background-size: cover;}

/* *가상요소 bg-color */
.brand-direct::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to left, rgba(58, 109, 49, 0.7), rgba(179, 161, 1, 0.7)); transition: all 0.5s;}
.brand-direct:hover::before {opacity: 0.5; background: linear-gradient(to left, rgba(58, 109, 49, 0.7), rgba(179, 161, 1, 0.7));}
.brand-direct-heading {position: relative; text-align: center; padding: 250px 0; color: #fff;}
.brand-direct-heading h2 {margin-bottom: 50px; text-align: center; font-size: 48px; line-height: 1.3em; font-weight: 500; }
.brand-direct-heading h2 span {display: block; font-weight: 100;}

/* *Brand 바로가기 btn */
.brand-direct-heading a {width: 180px; padding: 4px 20px; border: 1px solid #fff; color: #fff; font-size: 18px;}
.brand-direct-heading a img {transition: 0.3s;}
.brand-direct-heading a:hover img {margin-left: 20px;}

/* *Hover Effect 바로가기 */
.brand-direct-heading a:hover {}

/* ! Feature Section06 */
.feature {display: flex; justify-content: center; align-items: center;}
.feature-content {display: flex; justify-content: center;}

/* *items */
.items {padding: 0 30px; text-align: center;}

/* *Up-image 이미지 */
.up-image {overflow: hidden; margin: auto; position: relative; top: 0; width: 200px; height: 200px; border-radius: 50%; transition: 0.3s;}

/* *Hover Effcet */
.up-image:hover {top: -20px;}
.up-image span {position: absolute; width: 100%; top: 50%; left: 0; transform: translate(0, -50%); color: #fff; font-size: 32px; text-transform: capitalize; font-family: 'Montserrat', sans-serif;}
.up-image img {width: 100%;}

/* *Down-desc텍스트 */
/* .down-desc  {margin-left:5%;} */
.down-desc h3 {margin:14px 0; font-weight: 500; font-size:18px;}
.down-desc p {line-height: 1.7em; font-size:13px;}

/* ! Instagram Section07 */
.instagram {padding: 150px 0px; background-color: rgb(220, 231, 194);}
.instagram-content {display: flex; justify-content: center;}
.instagram-items {margin: 0 10px;}
.instagram-items h3 {text-align: center; margin-bottom: 30px; font-size: 24px; transition: 0.2s;}

/* *이미지 */
.photo {position: relative; padding: 10px 0; display: flex; justify-content: center; align-items: center; max-width: 310px; width: 100%; height: auto; background-color: #fff;}
.photo::before {content: '\f004'; font-family: 'fontawesome'; position: absolute; top: -10%; left: 50%; transform: translateX(-50%); font-size: 24px;}
.photo:hover::before {color: rgba(220, 20, 60, 1);}
.photo-image {overflow: hidden; width: 100%; height: auto;}
.photo-image img {display: block; width: 100%; height: 100%; transition: 0.5s;}

/* *sns */
.photo-sns {position: absolute; bottom: 40px; width: 100%; text-align: center; margin: auto;}
.photo-sns a {display: inline-block; margin: 0 5px; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; background-color: #fff; color: rgba(0, 0, 0, 0.342);
	font-size: 14px;}


/* ! Footer */
footer {padding: 30px 0; background-color: #222; color: rgba(238, 238, 238, 0.829); font-size: 13px;}
.footer-content {display: flex; justify-content: space-between; padding: 0 20px;}
.footer-logo {display: block; width: 100px;}
.footer-logo img {width: 100%; filter: invert(20%);}
address {font-style: normal;}
address span {display: block; margin-top: 10px;}
.tel b {font-size: 18px; letter-spacing: 1px;}
.kakao {display: block; width: 70px;}
.kakao img {width: 100%;}

/* ! Gototop */
.gototop {z-index:999; opacity: 0; position: fixed; right: 20px; bottom: -20px; border-radius: 50%; width: 50px; height: 50px; background-color: #fff; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); transition: 0.5s;}
.gototop img {width: 100%;}

/* *Scroll Effect */
.gototop.active {opacity: 1; bottom: 20px;}

/* ? Slick.js */
/* ? Customizing CSS */
/* *Prev, Next Button */
button.slick-arrow {z-index: 1; display: block !important; width: 60px; height: 60px; border: 1px solid #5d6b50; border-radius: 50%;}

.slick-arrow:hover {background-color: rgba(255, 255, 255, 0.7); transition: all 0.3s;}
.slick-prev {left: 100px;}
.slick-next {right: 100px;}

.slick-prev::before,
.slick-next::before {
	font-family: 'fontawesome';
	font-size: 20px; color: #455337;
}
.slick-prev::before {content: "\f0d9";}
.slick-next::before {content: "\f0da";}

/* *Dot */
ul.slick-dots {bottom: 30px;}



/* ========= 팝업 =========== */
.pop-section {z-index: 999; position: fixed; background: rgba(0,0,0,0.5); padding:10px; width: 100%; height: 100%; top: 0; left: 0;}
.pop-wrap {position:relative; top: 50%; left: 50%; max-width: 350px; height:auto; transform: translate(-50%, -50%);}
.pop-wrap .content {height:100%}
.pop-wrap .content img {width:100%}
.pop-wrap .btn-wrap {position:relative; bottom:7px; right:0px; height:40px; width:100%; background:#fff;}
.pop-wrap .btn {position:absolute; top: 50%; transform: translateY(-50%); border: none; background: transparent; }
.btn--close {right:10px; font-size:0;}
.btn--today {right:50px;}




/* ===================== 1300px ====================== */

@media screen and (max-width: 1300px) {
	section {padding: 100px}
	.inner {width: 100%;}
	.product-buy {padding: 40px 0;}
	.brand-direct {padding: 50px 0}
	.brand-direct-heading {padding: 150px 0}
	.brand-direct-heading h2 {font-size: 40px;}
	.up-image {	width: 150px; height: 150px;}
	.footer-content address {margin:0 10px; }
	.footer-content .tel {margin:0 10px}
	.items {padding: 0 16px;}
}

/* ===================== 768px ====================== */

@media screen and (max-width: 768px) {
	/* ? Common */
	.inner {width: 100%; padding: 0 20px;}



	/* ! Header */
	nav {width: 100%; padding: 20px 0;}
	nav h1 {align-self: center; order: 2; text-align: center;}
	nav h1 a img {margin-left: 65px; margin-top: 10px; max-width: 90px; width: 100%;}
	.lnb {order: 1; flex-direction: column; margin: 0; padding-left: 10px; padding-top: 70px;  position: absolute; top: 0px; left: -300px; width: 250px; height: 100vh;
		transition: 0.3s; background-color: rgba(255, 255, 255, 0.9); }
	.lnb.active {display: block; left: 0px;}
	.lnb>li {margin-right: 0;}
	.lnb>li>a {display: block; padding: 10px; font-size: 16px; color: #222;}
	.gnb {order: 3; padding-right: 10px;}

	/* *Sub-menu */
	.sub-menu {display: none;}

	/* *Trigger */
	.trigger {display: block; position: relative; left: 20px; top: 0; width: 30px; height: 20px; cursor:pointer;}
	.trigger span {position: absolute; height: 1px; width: 100%; background-color: #fff; transition: 0.3s; left:0;}

	/* *Scroll Effect */
	.trigger span.active {background-color: #222;}
	.trigger span:nth-child(1) {top: 0;}
	.trigger span:nth-child(2) {top: 50%;}
	.trigger span:nth-child(3) {top: 100%;}

	/* *active클래스명 주면 x자 버튼으로 변경 */
	.trigger.active span:nth-child(1) {top: 50%; transform: rotate(45deg); background-color: #222;}
	.trigger.active span:nth-child(2) {opacity: 0;}
	.trigger.active span:nth-child(3) {top: 50%; transform: rotate(-45deg); background-color: #222;}

	/* *Menu 배경 안보이게 */
	.menu-bg {display: none;}

	/* ! Main */
	main {height: 90vh; background-color: green; background: url(../images/main_banner01-pc.jpg)no-repeat top/cover; background-position-x: 75%;}
	.main-banner-slider {display: none;}
	.main-logo-mobile {display: block; display: flex; align-items: center; justify-content: center; height: 100vh; }
	.main-logo-mobile img {padding: 0 30px; margin-top: -7%; max-width: 400px; width: 100%;}

	/* ! About Section Section02 */
	.about {padding: 120px 0px;}
	.about-heading {padding: 0;}
	.about-heading h2 img {width: 70%;}
	.about-heading h3 {margin-top: 30px; font-size: 36px; line-height: 1.1em; letter-spacing: -1px;	}
	.about-heading h3 span {display: block;}
	.about-heading h3 span b {font-size: 42px; letter-spacing: -5px;}
	.about-heading p {margin-top: 25px; padding: 0 20px; font-size: 14px;}

	/* ! Product-bg Section03  */
	.product-bg {height: 70vh; background-attachment: scroll; background-position-x: 54%;}

	/* ! Product-buy Section04 */
	
	.product-buy-inner {flex-direction: column; padding: 0 20px; width: 100%;}
	/* *구매하기 btn */
	.buy-heading {padding: 0; margin-top: 20px;}
	.buy-heading h3 {text-align: center; line-height: 1.2em; font-size:24px;}

	.buy-heading h3 br {display:none;}
	.buy-heading a {display: block; text-align: center; margin-top: 20px; padding: 10px; width: 100%; font-size:14px;}

	/* ! Brand-direct Section05 */
	.brand-direct {padding:50px 20px}
	.brand-direct-heading {padding: 150px 0px;}
	.brand-direct-heading h2 {font-size:24px; margin-bottom: 30px;}

	/* *Brand 바로가기 btn */
	.brand-direct-heading a {display: flex; justify-content: center; align-items: center; margin-left: 0; padding: 10px; margin: auto; width: 100%; box-sizing: border-box;}
	.brand-direct-heading a img {display: none; padding: 0 10px;}
	.brand-direct-heading a:hover img {margin-left: 0px;}

	/* ! Feature Section06 */
	.feature {padding:50px 20px}
	.feature-content {flex-direction: column; padding-left:0;}
	.feature-content li:first-child {margin-top: 0;}
	.items {display: flex; margin-bottom: 50px; margin: 20px auto 0; max-width: 500px; width: 100%;}
	.items:last-child {margin-bottom: 0;}
	.up-image {width: 150px; height: 150px}
	.up-image span {font-size:24px;}
	.down-desc {flex: 2; text-align: left; margin-left:5%; max-width: 300px; width: 100%}
	.down-desc h3 {margin: 20px 0;}

	/* ! Instagram Section07 */
	.instagram {padding: 50px 0; margin-bottom: -3%;}
	.instagram-content {flex-direction: column; padding: 0;}
	.instagram-items h3 {margin-top: 0px;}
	.instagram-items:nth-child(2) h3 .fa-heart,
	.instagram-items:nth-child(3) h3 .fa-heart {
		display: none;
	}

	/* *이미지 */
	.photo {margin: 10px auto; width: 250px; height: 380px; box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);}
	.photo::before{z-index:1; left:29px; top:17px;}
	.photo-image {height: 380px;}
	.photo-sns {bottom:25px}


	/* ! Footer */
	.footer-content {flex-direction: column; text-align: center;}
	.footer-logo {margin: auto;}
	.footer-content address {font-size:12px; margin: 30px auto; width:100%;}
	.tel {margin-bottom: 50px;}
	.kakao {margin: 30px auto 0;}

	/* ? Slick.js */
	/* ? Customizing CSS */
	button.slick-arrow,
	ul.slick-dots {
		display: none !important;
	}

}




@media screen and (max-width:480px) {
	.items {flex-direction: column; margin: 30px 0 0}
	.up-image {width: 130px; height: 130px}
	.down-desc {text-align: center; margin: auto;}
}

